@font-face {
	font-family: "iconfont";
	src: url('../fonts/iconfont/iconfont.eot');
	src: url('../fonts/iconfont/iconfont.eot?#iefix') format('eot'),
		url('../fonts/iconfont/iconfont.woff') format('woff'),
		url('../fonts/iconfont/iconfont.ttf') format('truetype'),
		url('../fonts/iconfont/iconfont.svg#iconfont') format('svg');
}

.icon:before {
	font-family: "iconfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-URL:before {
	content: "\E001";
}

.icon-answers:before {
	content: "\E002";
}

.icon-arrowleft:before {
	content: "\E003";
}

.icon-checkbox:before {
	content: "\E004";
}

.icon-checkmark:before {
	content: "\E005";
}

.icon-chevron-down:before {
	content: "\E006";
}

.icon-chevron-right:before {
	content: "\E007";
}

.icon-close:before {
	content: "\E008";
}

.icon-cloud:before {
	content: "\E009";
}

.icon-download-document:before {
	content: "\E00A";
}

.icon-edit:before {
	content: "\E00B";
}

.icon-error:before {
	content: "\E00C";
}

.icon-files:before {
	content: "\E00D";
}

.icon-info:before {
	content: "\E00E";
}

.icon-lightbulb:before {
	content: "\E00F";
}

.icon-link:before {
	content: "\E010";
}

.icon-lock:before {
	content: "\E011";
}

.icon-money:before {
	content: "\E012";
}

.icon-more actions:before {
	content: "\E013";
}

.icon-reporting:before {
	content: "\E014";
}

.icon-search:before {
	content: "\E015";
}

.icon-start:before {
	content: "\E016";
}

.icon-support:before {
	content: "\E017";
}

.icon-team:before {
	content: "\E018";
}

.icon-tools:before {
	content: "\E019";
}

.icon-tooltip:before {
	content: "\E01A";
}

.icon-user:before {
	content: "\E01B";
}

.icon-video:before {
	content: "\E01C";
}

.icon-visa:before {
	content: "\E01D";
}