<nav class="main-nav logged-in">
	<div class="container">
		<div class="row">
		 	<div class="nav-left">
		 		<h1><a href="/"><img src="assets/images/lw-logo-dark.png" /></a></h1>
		 	</div>
		 	<div class="nav-right">
		 		<div class="input-group"> 
		 			<span class="icon icon-search"></span>
		 			<input class="form-control" placeholder="Search"/> 
		 		</div>
		 		<span class="divider"></span>
		 		<div class="user dropdown">
	 				<button class="dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> 
	 					<div class="avatar"><img src="assets/images/fpo-user-avatar.jpg"/></div>
	 					<div class="username">John S. <span class="caret"></span></div>
	 				</button> 

	 				<ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
	 					<li><a href="#">Enterprise Search</a></li> 
	 					<li><a href="#">Customer Dashboard</a></li> 
	 					<li><a href="#">My Profile</a></li> 
	 					<li><a href="#">Sign Out</a></li> 
	 				</ul> 
		 		</div>
		 	</div>
		 </div>
	 </div>
</nav>